<!doctype html>
<html lang="en">

<#include "head.html">

<body>

<#include "navbar.html">

<section class="main">
  <div class="container">
    <div class="row m-md-5">
      <div class="text-center">
        <h1 class="text-center">Edit product #${product.id}</h1>
      </div>
    </div>
  </div>
</section>

<div class="row justify-content-md-center">
  <div class="col col-lg-3">
    <form action="/products/edit" method="POST">
      <div class="mb-3">
        <input class="visually-hidden" value=${product.id} type="number" name="id"/>
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" value="${product.name}" maxlength="50" placeholder="Product name" name="name" required/>
      </div>
      <div class="mb-3">
        <input type="number" class="form-control" value="${product.price}" placeholder="Product price" max="999999.99" step="0.01" name="price" required/>
      </div>
      <div class="mb-3">
        <textarea class="form-control" rows="3" maxlength="100" placeholder="Product description" name="description" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary mb-5">SAVE</button>
    </form>
  </div>
</div>

</body>
</html>