<!doctype html>
<html lang="en">

<#include "head.html">

<body>


<#include "navbar.html">

<section class="main">
    <div class="container">
        <div class="row m-md-5">
            <div class="text-center">
                <h1>PRODUCT LIST</h1>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row row-cols-3 justify-content-evenly text-center ">

        <#list products as product>

        <div class="col">
            <div class="card mb-4 rounded-5 shadow-sm">
                <div class="card-header py-2">
                    <h4 class="my-0 fw-normal">${product.name}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">${product.price}<small class="text-muted fw-light">&nbsp
                        USD</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Product ID: ${product.id}</li>
                        <li><small class="text-muted">${product.description}</small></li>
                    </ul>
                    <div class="row justify-content-evenly">
                        <div class="col">
                            <form action="/products/edit" method="GET">
                                <input class="visually-hidden" value=${product.id} type="number" name="id"/>
                                <button type="submit" class="w-100 btn btn-lg btn-outline-primary">EDIT</button>
                            </form>
                        </div>
                        <div class="col">
                            <form action="/products/delete" method="POST">
                                <input class="visually-hidden" value=${product.id} type="number" name="id"/>
                                <button type="submit" class="w-100 btn btn-lg btn-outline-primary">DELETE</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </#list>
    </div>
</div>

</body>
</html>